<form role="form" action="/enlink" method="post">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
    </div>
    <div class="col-sm-1"></div>
</form>
<div class="col-sm-11"></div><div class="col-sm-1"><a type="button" href="/upload" class="btn btn-danger btn-circle" style="bottom: 45px; right: 24px;position: fixed"><i class="glyphicon glyphicon-plus"></i></a></div>
<script>
    $(function () {
        $("#starrating").rating();
        $('a.voteup').click(function () {
            var id = $(this).attr('data-id');
            $.ajax({
                method: "POST",
                url: "/post/addLike",
                data: {postid: postid}
            })
                    .done(function (msg) {
                        alert("Feedback Received: " + msg);
                    });
            return false;
        });
        $('button.favon').click(function () {
            var id = $(this).attr('data-id');
            $.ajax({
                method: "POST",
                url: "/post/fav",
                data: {postid: postid}
            })
                    .done(function (msg) {
                        alert("Feedback Received: " + msg);
                    });
            return false;
        });
    });
</script>