<div class="container"></div>
        <% if(result){ 
            for(var i=0;i<result.length;i++){%>
<form role="form" action="/enlink" method="post" class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">

        <div class="panel panel-primary">
            <div class="panel-heading"><div class="col-sm-11"><%= (result[i].tag) %></div><div class="col-sm-1"><button type="button" class="btn btn-danger favon" data-id="1234"><i class="glyphicon glyphicon-heart"></i></button></div>&nbsp;</div>
            <div class="panel-body"><textarea class="form-control" disabled><%= (result[i].content) %></textarea></div>
            <div class="panel-footer">
                <script>$("#starrating").rating();</script>
                <div class="col-sm-11"><input id="starrating" type="number" class="rating" min=0 max=5 data-default-caption="{rating} EnLink Rating" data-star-captions="{}" readonly data-size="sm" data-stars="5" value="4"></div>
                <div class="col-sm-1">
                    <a href="#" class="btn btn-info btn-lg voteup" data-id="1234">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                    </a>
                </div>&nbsp;
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</form>
           <% 
            }
           } else {%>

           <h1>Nothing found</h1> <a href="/enlink">Back</a>
           <% } %>

<script>
    $(function () {
        $("#starrating").rating();
        $('a.voteup').click(function () {
            var id = $(this).attr('data-id');
            $.ajax({
                method: "POST",
                url: "/post/addLike",
                data: {postid: postid}
            })
                    .done(function (msg) {
                        alert("Feedback Received: " + msg);
                    });
            return false;
        });
        $('button.favon').click(function () {
            var id = $(this).attr('data-id');
            $.ajax({
                method: "POST",
                url: "/post/fav",
                data: {postid: postid}
            })
                    .done(function (msg) {
                        alert("Feedback Received: " + msg);
                    });
            return false;
        });
    });
</script>