<form id="enableForm" class="container" action="/profile" method="post" data-toggle="validator" role="form">
	<div class="row">
		<div class="col-xs-8"></div><div class="col-xs-4"><a href="#"><img src="/images/logo.png" class="img-circle" width="125" height="125" alt="Profile Pic"></a></div>
	</div>
	<div class="row form-group">
		<div class="col-xs-4 col-xs-offset-2"><input type="text" name="name" class="form-control" placeholder="Name"></div>
	</div>
	<div class="row form-group">
		<div class="col-xs-4 col-xs-offset-2"><textarea class="form-control" name="about" placeholder='About'></textarea></div>
	</div>
	<div class="row form-group">
		<div class="col-xs-4 col-xs-offset-2"><input type="text" class="form-control" name="location" placeholder="Location" ></div>
	</div>
	<div class="row form-group">
		<div class="col-xs-4 col-xs-offset-2"><input type="url" class="form-control" name="url" placeholder="Linkedin Profile"></div>
	</div>
	<div class="row form-group">
		<div class="col-xs-4 col-xs-offset-2"><select name="category" class="form-control" id="category"><option value="entrepreneur">Entrepreneur</option><option value="investor">Investor</option><option value="developer">Developer</option><option value="designer">Designer</option><option value="Others">Others</option></select></div>
	</div>
	<div class="row form-group">
		<div class="col-xs-4 col-xs-offset-1"></div><div class="col-xs-4"><button type="submit" class="btn btn-default">Get Verified</button></div><div class="col-xs-4"></div>
	</div>
</form>