<form class="container" action="/signin" method="post">
    <div class="row">
        <div class="col-xs-7">
            <br>
            <br>
            <br>
            <div class="row form-group">
                <div class="col-xs-7 col-xs-offset-2">
                    <input type="text" name="username" class="form-control" placeholder="Username">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-7 col-xs-offset-2">
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-7 col-xs-offset-2">
                    <button type="submit" class="btn btn-default">Login</button>
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <a href="#"><img src="/images/logo.png" class="img-circle" width="125" height="125" alt="Profile Pic"></a>
        </div>
    </div>
    </div>
</form>